html{
  font-family: arial;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#toplogo {
  text-align: center;
}

#header {
  margin: auto;
  text-align: center;
  width: 85%;
}
