img {
  display: block;
  max-width: 100%;
  height: auto;
}

.data_panel {
  border-radius: 25px;
  padding: 20px;
  height: auto;
  text-align: left;
  vertical-align: top;
}

.status {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#bottomtext {
  margin-top: 20px;
  float: left;
}

.statusdot {
  height: 15px;
  width: 15px;
  background-color: darkgoldenrod; /* default to an ambiguous colour - JavaScript and the API will override this */
  border-radius: 50%;
  display: inline-block;
}
.statusdot.active_feed {
  background-color: green;
}
.statusdot.inactive_feed {
  background-color: red;
}
